@import url('https://fonts.googleapis.com/css?family=Pacifico');


.jumbotron {
  text-align: center;
  font-family: 'Pacifico', cursive;
  background-color: #78a1e2;
  color: white;
}

#toptext {
  color: white;
}

.well {
  text-align: center;
  background-color: #78a1e2;
  font-family: franklin;
}

ul {
  text-align: center;
}

li {
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}

.btn {
  font-family: 'Pacifico', cursive;
  background-color: #f48484;
  color: white;
}

.btn:hover {
  background-color: #c9e8c5;
  font-family: 'Pacifico', cursive;
}

input {
  text-align: center;
}
